<div class="projects-container" id="projects">

    <br><br><br><br>
    <div class="row projects-title">
        <div class="col">
            <h2><%= assets.nav.projects %></h2>
        </div>
    </div>
    <br><br>

    <div class="row">

        <div class="col">
            <div class="card" data-aos="zoom-in-up">
                <img class="card-img-top" src="./images/projects/cyclon.png" alt="Cyclon">
                <div class="card-body">

                    <h5 class="card-title">Cyclon</h5>

                    <p class="card-text">
                        <%= assets.index.projects.cyclon %>
                    </p>

                    <div class="badges-container">
                        <span class="badge badge-backend">Node.js</span>
                        <span class="badge badge-backend">Socket.io</span>
                        <span class="badge badge-backend">Django</span>
                        <span class="badge badge-mobile">Flutter</span>
                        <span class="badge badge-database">GraphQL</span>
                        <span class="badge badge-database">MongoDB</span>
                        <span class="badge badge-skills">Vue.js</span>
                    </div>

                    <br>

                    <div class="text-center">
                        <a href="https://cyclon-beta.herokuapp.com/home" target="blank" class="btn btn-primary"><%= assets.btns.visit %></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col col-card">
            <div class="card" data-aos="zoom-in-up">
                <img class="card-img-top" src="./images/projects/asno.png" alt="Asno">
                <div class="card-body">

                    <h5 class="card-title">ASNO</h5>

                    <p class="card-text">
                        <%= assets.index.projects.asno %>
                    </p>

                    <div class="badges-container">
                        <span class="badge badge-backend">Node.js</span>
                        <span class="badge badge-backend">Socket.io</span>
                        <span class="badge badge-mobile">Java</span>
                        <span class="badge badge-database">MySQL</span>
                        <span class="badge badge-skills">Digital signature</span>
                        <span class="badge badge-skills">Bootstrap</span>
                        <span class="badge badge-skills">jQuery</span>
                    </div>

                    <div class="asno-spaces">
                        &nbsp;
                    </div>

                    <div class="text-center btn-container-visit">
                        <a href="https://asno.herokuapp.com/" target="blank" class="btn btn-primary"><%= assets.btns.visit %></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" data-aos="zoom-in-up">
                <img class="card-img-top" src="./images/projects/amantolli.png" alt="Amantolli">
                <div class="card-body">

                    <h5 class="card-title">Amantolli</h5>

                    <p class="card-text">
                        <%= assets.index.projects.amantolli %>
                    </p>

                    <div class="badges-container">
                        <span class="badge badge-backend">Node.js</span>
                        <span class="badge badge-backend">PHP</span>
                        <span class="badge badge-mobile">Java</span>
                        <span class="badge badge-database">MySQL</span>
                        <span class="badge badge-skills">Paypal</span>
                        <span class="badge badge-skills">Bootstrap</span>
                        <span class="badge badge-skills">jQuery</span>
                    </div>

                    <div class="amantolli-spaces">
                        &nbsp;
                    </div>

                    <div class="text-center">
                        <a href="#" class="btn btn-secondary disabled"><%= assets.btns.not_available %></a>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row row-card">

        <div class="col">
            <div class="card" data-aos="zoom-in-up">
                <img class="card-img-top" src="./images/projects/lendapp.png" alt="LendApp">
                <div class="card-body">

                    <h5 class="card-title">LendApp</h5>

                    <p class="card-text">
                        <%= assets.index.projects.lend_app %>
                    </p>

                    <div class="badges-container">
                        <span class="badge badge-backend">Node.js</span>
                        <span class="badge badge-mobile">Flutter</span>
                        <span class="badge badge-database">MySQL</span>
                        <span class="badge badge-skills">Materialize</span>
                        <span class="badge badge-skills">jQuery</span>
                    </div>

                    <div class="lend-spaces">
                        &nbsp;
                    </div>

                    <div class="text-center">
                        <a href="#" class="btn btn-secondary disabled"><%= assets.btns.not_available %> <img class="forbidden" src="./images//icons/candado.png" width="15"></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col col-card">
            <div class="card" data-aos="zoom-in-up">
                <img class="card-img-top" src="./images/projects/parkingesm.png" alt="Parking ESM">
                <div class="card-body">

                    <h5 class="card-title">Parking ESM</h5>

                    <p class="card-text">
                        <%= assets.index.projects.parking_esm %>
                    </p>

                    <div class="badges-container">
                        <span class="badge badge-backend">Node.js</span>
                        <span class="badge badge-mobile">Java</span>
                        <span class="badge badge-database">MySQL</span>
                        <span class="badge badge-skills">QR</span>
                        <span class="badge badge-skills">Bootstrap</span>
                        <span class="badge badge-skills">jQuery</span>
                    </div>

                    <div class="parking-spaces">
                        &nbsp;
                    </div>

                    <div class="text-center">
                        <a href="#" class="btn btn-secondary disabled"><%= assets.btns.not_available %> <img class="forbidden" src="./images//icons/candado.png" width="15"></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" data-aos="zoom-in-up">
                <img class="card-img-top" src="./images/projects/ssesm.png" alt="SS ESM">
                <div class="card-body">

                    <h5 class="card-title">SS ESM</h5>

                    <p class="card-text">
                        <%= assets.index.projects.ss_esm %>
                    </p>

                    <div class="badges-container">
                        <span class="badge badge-backend">Node.js</span>
                        <span class="badge badge-backend">Socket.io</span>
                        <span class="badge badge-mobile">Java</span>
                        <span class="badge badge-database">MySQL</span>
                        <span class="badge badge-skills">Bootstrap</span>
                        <span class="badge badge-skills">jQuery</span>
                    </div>

                    <div class="ss-spaces">
                        &nbsp;
                    </div>

                    <div class="text-center">
                        <a href="#" class="btn btn-secondary disabled"><%= assets.btns.not_available %> <img class="forbidden" src="./images//icons/candado.png" width="15"></a>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row row-card">

        <div class="col">
            <div class="card" data-aos="zoom-in-up">
                <img class="card-img-top" src="./images/projects/ltx.png" alt="Card image cap">
                <div class="card-body">

                    <h5 class="card-title">LTX Editor</h5>

                    <p class="card-text">
                        <%= assets.index.projects.ltx_editor %>
                    </p>

                    <div class="badges-container">
                        <span class="badge badge-skills">Katex</span>
                    </div>

                    <div class="ltx-spaces">
                        &nbsp;
                    </div>

                    <div class="text-center">
                        <a href="https://ltx-editor.herokuapp.com/" target="blank" class="btn btn-primary"><%= assets.btns.visit %></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col col-card">
            <div class="card" data-aos="zoom-in-up">
                <img class="card-img-top" src="./images/projects/dxcalculator.png" alt="Card image cap">
                <div class="card-body">

                    <h5 class="card-title">dx Calculator </h5>

                    <p class="card-text">
                        <%= assets.index.projects.dx_calculator %>
                    </p>

                    <div class="badges-container">
                        <span class="badge badge-backend">Node.js</span>
                        <span class="badge badge-skills">C</span>
                    </div>

                    <div class="dx-spaces">
                        &nbsp;
                    </div>

                    <div class="text-center">
                        <a href="#" class="btn btn-secondary disabled"><%= assets.btns.developing %></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col">

        </div>

    </div>

</div>